<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi sit culpa consequatur, reprehenderit alias itaque nulla incidunt aliquid, illo ea est fuga ut rerum, praesentium dolore repellendus! Sint, sequi nesciunt nihil necessitatibus nulla dignissimos praesentium dicta cumque veritatis cupiditate officiis omnis fuga rem dolorum culpa eum laborum aperiam repellendus atque.Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas dolore itaque aut excepturi nobis! Nobis commodi rerum voluptatum tempora? Aut magni aperiam earum architecto. Suscipit vel laborum voluptas a nisi!Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </article>
    </body>
</html>